html{
    margin:0;
   padding:0;
   height:100%
}
nav{
    background:#000;
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 20px;
}

.pc{
    width: 500px;
    height: 450px;
}

.row_prod{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    border: 2px;
    border-color: #d9a313;
}

body{
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:100%;
    position:relative;
    padding-bottom:250px;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}
 
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 20px;
    position:absolute;
   bottom:0;  /* on le colle en bas */
   width:100%;
   height:250px;   /* Hauteur du pied de page */
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-social {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-social a {
    color: #fff;
    font-size: 40px;
    margin: 0 10px;
    text-decoration: none;
}
    
.formulaire {
    max-width: 300px;
    font-size: 20px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

.btn_submit-form{
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #d9a313;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.presentation{
    font-size: 25px;
}
